<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Fin Adviser - Bootstrap Template</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

		<!-- Template CSS Files  -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
		<link href="js/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">

	</head>
	<body>
	<!-- Top Bar Starts -->
		<div class="top-bar">
		<!-- Nested Container Starts -->
			<div class="container clearfix text-xs-center text-sm-center text-md-left pl-sm-0 pr-sm-0">
				<ul class="list-unstyled list-inline float-md-left mb-0 animation">
					<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
				</ul>
				<p class="float-md-right mb-0 text-xs-center text-sm-center text-md-right text-weight-light">
					Welcome to Fin Advisor website, we have expertise in managing your finances!!!
				</p>
			</div>
		<!-- Nested Container Ends -->
		</div>
	<!-- Top Bar Ends -->
	<!-- Header Starts -->
		<header class="main-header">
		<!-- Nested Container Starts -->
			<div class="container text-xs-center pl-sm-0 pr-sm-0">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Logo Starts -->
					<div class="col-lg-3 col-md-4 col-sm-12 text-xs-center text-sm-center text-md-left">
						<a href="index.html"><img src="images/logo.png" alt="Fin Adviser" class="img-fluid img-center-xs logo"></a>
					</div>
				<!-- Logo Ends -->
				<!-- Opening Hours Starts -->
					<div class="col-md-4 col-sm-12 offset-lg-1 d-xs-none d-sm-none d-md-block">
						<div class="clearfix">
							<i class="fa fa-clock-o float-md-left rounded-circle"></i>
							<h6 class="text-spl-color text-weight-medium">Opening Hours</h6>
							<p class="text-weight-light"><em>Mon–Fri: 9am–6pm, Sun: 10am–1pm</em></p>
						</div>
					</div>
				<!-- Opening Hours Ends -->
				<!-- Contact Number Starts -->
					<div class="col-lg-4 col-md-4 col-sm-12 d-xs-none d-sm-none d-md-block">
						<div class="clearfix">
							<i class="fa fa-phone float-md-left rounded-circle"></i>
							<h6 class="text-spl-color text-weight-medium">Contact Number</h6>
							<p class="text-weight-light"><em>888–123–2323, 555–123–2323</em></p>
						</div>
					</div>
				<!-- Contact Number Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</header>
	<!-- Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="nav" class="main-menu navbar navbar-expand-md rounded-0">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
			<!-- Navbar Toggler Starts -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-cat-collapse" aria-controls=".navbar-cat-collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon fa fa-bars"></span>
				</button>
			<!-- Navbar Toggler Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse animation">
				<!-- Nav Links Starts -->
					<ul class="nav navbar-nav text-weight-bold">
						<li class="nav-item dropdown">
							<a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rounded-0">
								<a class="dropdown-item" href="index.html">Home 1</a>
								<a class="dropdown-item" href="index2.html">Home 2</a>
								<a class="dropdown-item" href="index3.html">Home 3</a>
								<a class="dropdown-item" href="index4.html">Home 4</a>
								<a class="dropdown-item" href="index5.html">Home 5</a>
							</div>
						</li>
						<li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
						<li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
						<li class="nav-item dropdown">
							<a href="blog.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rounded-0">
								<a class="dropdown-item" href="blog.html">Blog Page</a>
								<a class="dropdown-item" href="blog-2col.html">Blog 2 Col</a>
								<a class="dropdown-item" href="blog-3col.html">Blog 3 Col</a>
								<a class="dropdown-item" href="blog-single.html">Blog Single Page</a>
							</div>
						</li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
						<li class="nav-item dropdown active">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rounded-0">
								<a class="dropdown-item" href="team.html">Team</a>
								<a class="dropdown-item" href="faq.html">Faq's</a>
								<a class="dropdown-item" href="pricing.html">Pricing</a>
								<a class="dropdown-item active" href="gallery.html">Gallery</a>
								<a class="dropdown-item" href="404.html">404</a>
								<a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
							</div>
						</li>
					</ul>
				<!-- Nav Links Ends -->
				<!-- Search Form Starts -->					
					<form class="form-inline ml-auto d-xs-none d-sm-none d-md-block">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Search">
						  <span class="input-group-append">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						  </span>
						</div>
					</form>
				<!-- Search Form Ends -->
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		<!-- Nested Container Ends -->
		</nav>
	<!-- Main Menu Ends -->
	<!-- Main Banner Starts -->
		<section class="main-banner text-xs-center text-sm-center text-md-left">
		<!-- Nested Container Starts -->
			<div class="container text-lite-color pl-sm-0 pr-sm-0">
				<h2 class="text-weight-medium">Gallery</h2>
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Main Banner Ends -->
	<!-- Breadcrumb Starts -->
		<div class="container text-xs-center pl-sm-0 pr-sm-0">
			<ol class="breadcrumb rounded-0">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item active">Gallery</li>
			</ol>
		</div>
	<!-- Breadcrumb Ends -->
	<!-- Main Container Starts -->
		<div class="main-container container pl-sm-0 pr-sm-0 text-center">
		<!-- Gallery Filters Starts -->
			<ul class="list-unstyled list-inline" id="gallery-filter">
				<li class="list-inline-item"><a href="#" class="btn active animation" data-group="all">All</a></li>
				<li class="list-inline-item"><a href="#" class="btn animation" data-group="management">Management</a></li>
				<li class="list-inline-item"><a href="#" class="btn animation" data-group="planning">Planning</a></li>
				<li class="list-inline-item"><a href="#" class="btn animation" data-group="insurance">Insurance</a></li>
				<li class="list-inline-item"><a href="#" class="btn animation" data-group="corporate">Corporate</a></li>
				<li class="list-inline-item"><a href="#" class="btn animation" data-group="tax">Tax</a></li>
			</ul>
		<!-- Gallery Filters Ends -->
		<!-- Gallery Grid Starts -->
			<ul class="row list-unstyled" id="gallery-grid">
			<!-- Gallery Item #1 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "management"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img1.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #1</h6>
							<p class="animation-1">Management</p>
							<a href="images/gallery/big/gallery-big-img1.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #1 Ends -->
			<!-- Gallery Item #2 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "planning"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img2.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #2</h6>
							<p class="animation-1">Planning</p>
							<a href="images/gallery/big/gallery-big-img2.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #2 Ends -->
			<!-- Gallery Item #3 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "insurance"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img3.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #3</h6>
							<p class="animation-1">Insurance</p>
							<a href="images/gallery/big/gallery-big-img3.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #3 Ends -->
			<!-- Gallery Item #4 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "corporate"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img4.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #4</h6>
							<p class="animation-1">Corporate</p>
							<a href="images/gallery/big/gallery-big-img4.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #4 Ends -->
			<!-- Gallery Item #5 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "tax"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img5.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #5</h6>
							<p class="animation-1">Tax</p>
							<a href="images/gallery/big/gallery-big-img5.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #5 Ends -->
			<!-- Gallery Item #6 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "management"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img6.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #6</h6>
							<p class="animation-1">Management</p>
							<a href="images/gallery/big/gallery-big-img6.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #6 Ends -->
			<!-- Gallery Item #7 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "planning"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img7.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #7</h6>
							<p class="animation-1">Planning</p>
							<a href="images/gallery/big/gallery-big-img7.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #7 Ends -->
			<!-- Gallery Item #8 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "insurance"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img8.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #8</h6>
							<p class="animation-1">Insurance</p>
							<a href="images/gallery/big/gallery-big-img8.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #8 Ends -->
			<!-- Gallery Item #9 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "corporate"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img9.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #9</h6>
							<p class="animation-1">Corporate</p>
							<a href="images/gallery/big/gallery-big-img9.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #9 Ends -->
			<!-- Gallery Item #10 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "tax", "insurance"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img10.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #10</h6>
							<p class="animation-1">Tax</p>
							<a href="images/gallery/big/gallery-big-img10.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #10 Ends -->
			<!-- Gallery Item #11 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "management", "corporate"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img11.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #11</h6>
							<p class="animation-1">Management</p>
							<a href="images/gallery/big/gallery-big-img11.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #11 Ends -->
			<!-- Gallery Item #12 Starts -->
				<li class="col-lg-4 col-md-6 col-sm-12 gallery-grid-item" data-groups='["all", "planning", "tax"]'>
					<div class="hover-content">
						<img src="images/gallery/thumb/gallery-thumb-img12.jpg" alt="Gallery Image 1" class="img-fluid img-center animation-1">
						<div class="overlay animation text-lite-color">
							<h6 class="text-uppercase animation-1">Project Name #12</h6>
							<p class="animation-1">Planning</p>
							<a href="images/gallery/big/gallery-big-img12.jpg" class="btn btn-1 animation-1"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</li>
			<!-- Gallery Item #12 Ends -->
			</ul>
		<!-- Gallery Grid Ends -->
		</div>
	<!-- Main Container Ends -->
	<!-- Newsletter Subscription Section Starts -->
		<section class="newsletter-bar text-lite-color text-xs-center text-sm-center text-md-left">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
			<!-- Nested Row Starts -->
				<div class="row">
					<div class="col-xl-6 col-md-4 col-sm-12">
						<div class="clearfix">
							<h4 class="float-md-left text-weight-normal"><i class="fa fa-paper-plane"></i> Sign Up</h4>
							<h6 class="float-md-right text-weight-light d-none d-xl-block"><em>Get subscriber only insights &amp; news delivered <br class="d-xs-none d-sm-none d-lg-block">by Fin Advisor</em></h6>
						</div>
					</div>
					<div class="col-xl-6 col-md-8 col-sm-12">
						<form class="row">
							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<label class="sr-only" for="newsletter-email">Email</label>
									<input type="email" class="form-control animation-1" id="newsletter-email" placeholder="Your E-mail">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<button type="submit" class="btn btn-1 animation text-uppercase">Submit</button>
							</div>
						</form>
					</div>
				</div>
			<!-- Nested Row Ends -->			
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Newsletter Subscription Section Ends -->
	<!-- Footer Top Section Starts -->
		<section class="footer-top">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-xs-center text-sm-center text-md-left text-lite-color">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Foot Col #1 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="foot-info">
							<p>
								<img src="images/foot-brand.png" alt="Fin Adviser" class="img-fluid img-center-xs">
							</p>
							<br>
							<p class="text-weight-light">
								<em>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</em>
							</p>
							<ul class="list-unstyled list-inline foot-sm-links">
								<li class="list-inline-item text-weight-medium">Follow Us:</li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-facebook animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-twitter animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-instagram animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p animation"></i></a></li>
							</ul>
						</div>
					</div>
				<!-- Foot Col #1 Ends -->
				<!-- Foot Col #2 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Contact Us</h5>
						<ul class="list-unstyled foot-address-list text-weight-light">
							<li class="clearfix">
								<i class="fa fa-map-marker"></i> 
								<span>
									<strong>#781, Shah Ali Banda, </strong><br>
									Chairminar, Hyd- 505
								</span>
							</li>
							<li class="clearfix">
								<i class="fa fa-phone"></i> 
								<span class="text-weight-bold">(123) 45678910</span>
							</li>
							<li class="clearfix">
								<i class="fa fa-envelope"></i> 
								<span><a href="mailto:support@demosite.com">support@demosite.com</a></span>
							</li>
							<li class="clearfix">
								<i class="fa fa-clock-o"></i> 
								<span>
									Mon - Fri : 10:00 - 18:00 <br>
									Sat - Sun Holiday
								</span>
							</li>
						</ul>
					</div>
				<!-- Foot Col #2 Ends -->
				<!-- Divider Starts -->
					<div class="w-100 d-md-block d-lg-none">
						<p><br><br></p>
					</div>
				<!-- Divider Ends -->
				<!-- Foot Col #3 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Financial Planning</h5>
						<ul class="list-unstyled foot-list-style-1 text-weight-light">
							<li>Investment Management</li>
							<li>Retirement Planning</li>
							<li>Long Term Care</li>
							<li>Estate Planning</li>
							<li>Social Security</li>
						</ul>
					</div>
				<!-- Foot Col #3 Ends -->
				<!-- Foot Col #4 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Investment Planning</h5>
						<ul class="list-unstyled foot-list-style-1 text-weight-light">
							<li>Wealth Management</li>
							<li>Retirement &amp; College</li>
							<li>Savings Business Owners</li>
							<li>Insurance &amp; Annuities</li>
							<li>Cash &amp; Credit</li>
							<li>Stocks, Bonds &amp; Mutual Funds</li>
						</ul>
					</div>
				<!-- Foot Col #4 Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Footer Top Section Ends -->
	<!-- Copyright Starts -->
		<footer class="copyright">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-center text-lite-color">
				<em class="text-weight-light">Fin Advisor &copy; 2018. All Rights Reserved. Designed By <a href="#">Sainath Chillapuram</a></em>
			</div>
		<!-- Nested Container Ends -->
		</footer>
	<!-- Copyright Ends	-->
	<!-- Template JS Files -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins/backstretch/jquery.backstretch.min.js"></script>
	<script src="js/plugins/shuffle/jquery.shuffle.modernizr.min.js"></script>
	<script src="js/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/custom.js"></script>	
	</body>
</html>