<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Fin Adviser - Bootstrap Template</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

		<!-- Template CSS Files  -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
		<link href="js/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">

	</head>
	<body>
	<!-- Full Header Starts -->
		<header class="header-full clearfix">
		<!-- Top Bar Starts -->
			<div class="top-bar">
			<!-- Nested Container Starts -->
				<div class="container clearfix text-xs-center text-sm-center text-md-left pl-sm-0 pr-sm-0">
					<ul class="list-unstyled list-inline float-md-left mb-0 animation">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
					</ul>
					<p class="float-md-right mb-0 text-xs-center text-sm-center text-md-right text-weight-light">
						Welcome to Fin Advisor website, we have expertise in managing your finances!!!
					</p>
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Top Bar Ends -->
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
			<!-- Main Menu Starts -->
				<nav id="nav" class="main-menu navbar navbar-expand-md rounded-0">
				<!-- Navbar Toggler Starts -->
					<a href="index.html" class="navbar-brand">
						<img src="images/logo2.png" alt="Fin Advisor" class="img-fluid">
					</a>
					<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-cat-collapse" aria-controls=".navbar-cat-collapse" aria-expanded="false" aria-badge="Toggle navigation">
						<span class="navbar-toggler-icon fa fa-bars"></span>
					</button>
				<!-- Navbar Toggler Ends -->
				<!-- Navbar Cat collapse Starts -->
					<div class="collapse navbar-collapse navbar-cat-collapse animation">
					<!-- Nav Links Starts -->
						<ul class="nav navbar-nav ml-auto text-weight-bold">
							<li class="nav-item active dropdown">
								<a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
								<div class="dropdown-menu rounded-0">
									<a class="dropdown-item" href="index.html">Home 1</a>
									<a class="dropdown-item active" href="index2.html">Home 2</a>
									<a class="dropdown-item" href="index3.html">Home 3</a>
									<a class="dropdown-item" href="index4.html">Home 4</a>
									<a class="dropdown-item" href="index5.html">Home 5</a>
								</div>
							</li>
							<li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
							<li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
							<li class="nav-item dropdown">
								<a href="blog.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
								<div class="dropdown-menu rounded-0">
									<a class="dropdown-item" href="blog.html">Blog Page</a>
									<a class="dropdown-item" href="blog-2col.html">Blog 2 Col</a>
									<a class="dropdown-item" href="blog-3col.html">Blog 3 Col</a>
									<a class="dropdown-item" href="blog-single.html">Blog Single Page</a>
								</div>
							</li>
							<li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
								<div class="dropdown-menu rounded-0">
									<a class="dropdown-item" href="team.html">Team</a>
									<a class="dropdown-item" href="faq.html">Faq's</a>
									<a class="dropdown-item" href="pricing.html">Pricing</a>
									<a class="dropdown-item" href="gallery.html">Gallery</a>
									<a class="dropdown-item" href="404.html">404</a>
									<a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
								</div>
							</li>
						</ul>
					<!-- Nav Links Ends -->
					</div>
				<!-- Navbar Cat collapse Ends -->
				</nav>
			<!-- Main Menu Ends -->
			<!-- Slider Starts -->
				<div id="main-slider" class="carousel slide carousel-fade d-xs-none" data-ride="carousel">
				<!-- Wrapper For Slides Starts -->
					<div class="carousel-inner text-center">
					<!-- Slide #1 Starts -->
						<div class="carousel-item active">
							<div class="carousel-caption text-lite-color d-xs-none">
								<h2 class="text-weight-medium">Financial Expert Advice</h2>
								<h5 class="text-weight-light">With our 35 years of quality experience in financial advice.</h5>
								<h5 class="text-weight-light">We ensure you will be getting 100% best service.</h5>
								<a href="#" class="btn btn-1 animation text-weight-medium">More Services</a>
							</div>
						</div>
					<!-- Slide #1 Ends -->
					<!-- Slide #2 Starts -->
						<div class="carousel-item">
							<div class="carousel-caption text-lite-color d-xs-none">
								<h2 class="text-weight-medium">Heading #2</h2>
								<h5 class="text-weight-light">With our 35 years of quality experience in financial advice.</h5>
								<h5 class="text-weight-light">We ensure you will be getting 100% best service.</h5>
								<a href="#" class="btn btn-1 animation">More Link</a>
							</div>
						</div>
					<!-- Slide #2 Ends -->
					<!-- Slide #3 Starts -->
						<div class="carousel-item">
							<div class="carousel-caption text-lite-color d-xs-none">
								<h2 class="text-weight-medium">Heading #3</h2>
								<h5 class="text-weight-light">With our 35 years of quality experience in financial advice.</h5>
								<h5 class="text-weight-light">We ensure you will be getting 100% best service.</h5>
								<a href="#" class="btn btn-1 animation">More Link</a>
							</div>
						</div>
					<!-- Slide #3 Ends -->
					</div>
				<!-- Wrapper For Slides Ends -->
				<!-- Control Starts -->
					<a class="carousel-control-prev animation d-xs-none" href="#main-slider" role="button" data-slide="prev">
						<span class="fa fa-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next animation d-xs-none" href="#main-slider" role="button" data-slide="next">
						<span class="fa fa-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				<!-- Control Ends -->
				</div>
			<!-- Slider Ends -->
			</div>
		<!-- Nested Container Ends -->
		</header>
	<!-- Full Header Ends -->
	<!-- About Section Starts -->
		<section class="section-area">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-xs-center text-sm-center text-md-left">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Content Starts -->
					<div class="col-md-6 col-sm-12">
						<h3 class="main-heading-1 text-spl-color text-weight-normal text-uppercase">About</h3>
						<p class="lead">
							It is a long established fact that a reader. 
						</p>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
						</p>
						<ul class="list-unstyled list-style-4">
							<li class="clearfix">
								<i class="fa fa-cubes float-md-left"></i> 
								<h6 class="text-weight-medium">Multiple Home Pages</h6>
								<p>
									It was popularised in the of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
								</p>
								<p class="text-md-right text-weight-light">
									<a href="#" class="text-more-link animation"><em>View More...</em></a>
								</p>
							</li>
							<li class="clearfix">
								<i class="fa fa-diamond float-md-left"></i> 
								<h6 class="text-weight-medium">14 Other Pages HTMLS</h6>
								<p>
									It was popularised in the of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
								</p>
								<p class="text-md-right text-weight-light">
									<a href="#" class="text-more-link animation"><em>View More...</em></a>
								</p>
							</li>
						</ul>
					</div>
				<!-- Content Ends -->
				<!-- Divider For Small Screen Starts -->
					<div class="w-100 d-xs-block d-sm-block d-md-none">
						<p><br></p>
					</div>
				<!-- Divider For Small Screen Ends -->
				<!-- Carousel Starts -->
					<div class="col-md-6 col-sm-12">
						<div id="carousel-1" class="carousel slide" data-ride="carousel">
						<!-- Indicators Starts -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-1" data-slide-to="0" class="active circle"></li>
								<li data-target="#carousel-1" data-slide-to="1" class="circle"></li>
							</ol>
						<!-- Indicators Ends -->
						<!-- Wrap For Slides Starts -->
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img src="images/about/about-carousel-img1.jpg" alt="About Image" class="img-fluid img-center">
								</div>
								<div class="carousel-item">
									<img src="images/about/about-carousel-img2.jpg" alt="About Image" class="img-fluid img-center">
								</div>
							</div>
						<!-- Wrap For Slides Ends -->
						<!-- Controls Starts -->
							<a class="carousel-control-prev animation d-xs-none" href="#carousel-1" role="button" data-slide="prev">
								<span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next animation d-xs-none" href="#carousel-1" role="button" data-slide="next">
								<span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						<!-- Controls Ends -->
						</div>
					</div>
				<!-- Carousel Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- About Section Ends -->
	<!-- Service Section Starts -->
		<section class="section-area section-style-1">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-center">
				<h4 class="main-heading-1 text-spl-color text-center">What We Offer</h4>
				<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, <br>or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
				</p>
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Box #1 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-book"></i>
							<h5 class="sub-heading-1 text-center">Financial Planning</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #1 Ends -->
				<!-- Box #2 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-dashboard"></i>
							<h5 class="sub-heading-1 text-center">Marketing Plans</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #2 Ends -->
				<!-- Box #3 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-bullseye"></i>
							<h5 class="sub-heading-1 text-center">Stock Market Research</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #3 Ends -->
				<!-- Box #4 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-briefcase"></i>
							<h5 class="sub-heading-1 text-center">Tax Planning</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #4 Ends -->
				<!-- Box #5 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-line-chart"></i>
							<h5 class="sub-heading-1 text-center">Risk Management</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #5 Ends -->
				<!-- Box #6 Starts -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="box-1 sub">
							<i class="fa fa-clock-o"></i>
							<h5 class="sub-heading-1 text-center">University of Planning</h5>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
							</p>
						</div>
					</div>
				<!-- Box #6 Ends -->
				</div>
			<!--- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Service Section Ends -->
	<!-- Why Us Section Starts -->
		<section class="section-area">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-xs-center text-sm-center text-md-left">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Left Column Starts -->
					<div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
					<!-- Services List Starts -->
						<div class="row">
						<!-- Service Box #1 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image2.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">Cloud Managing</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #1 Ends -->
						<!-- Service Box #2 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image3.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">No Chance of Fraud</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #2 Ends -->
						<!-- Service Box #3 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image4.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">Risk Management</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #3 Ends -->
						<!-- Service Box #4 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image5.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">Technology Solutions</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #4 Ends -->
						<!-- Service Box #5 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image6.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">Medical Claims</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #5 Ends -->
						<!-- Service Box #6 Starts -->
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="box-2 sub">
									<p>
										<img src="images/image7.jpg" alt="Image" class="img-fluid img-center-xs">
									</p>
									<h5 class="sub-heading-1 tiny text-weight-normal text-xs-center text-sm-center text-md-left">Business Intelligence</h5>
									<p class="text-grey-color">There are many variations of passages of Lorem Ipsum available....</p>
								</div>
							</div>
						<!-- Service Box #6 Ends -->
						</div>
					<!-- Services List Ends -->
					</div>
				<!-- Left Column Ends -->
				<!-- Space For Extra Small Screen Starts -->
					<div class="w-100 d-xs-block d-sm-block d-md-none">
						<p><br></p>
					</div>
				<!-- Space For Extra Small Screen Ends -->
				<!-- Right Column Starts -->
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
						<h4 class="main-heading-1 text-spl-color text-uppercase text-weight-normal">Why to Choose Us ?</h4>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
						</p>
						<a href="#" class="btn btn-big btn-1 animation text-weight-medium">Company Services</a>
					</div>					
				<!-- Right Column Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Why Us Section Ends -->
	<!-- Info Section Starts -->
		<section class="section-area section-info sub parallax">
		<!-- Nested Container Starts -->
			<div class="container text-center text-lite-color">
			<!-- Nested Row Starts -->
				<div class="row">
					<div class="col-md-10 col-sm-12 offset-sm-1">
						<h4 class="main-heading-1 text-weight-normal text-center">More Than 180 Financial Planners, One Philosophy</h4>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
						</p>
						<ul class="list-unstyled row stats-info">
							<li class="col-lg-3 col-md-6 col-sm-12">
								<div>
									<h3 class="text-bold badges-counter">575</h3>
									<h5 class="text-weight-light">Cases Completed</h5>
								</div>
							</li>
							<li class="col-lg-3 col-md-6 col-sm-12">
								<div>
									<h3 class="text-bold badges-counter">1784</h3>
									<h5 class="text-weight-light">Our Consultants</h5>
								</div>
							</li>
							<li class="col-lg-3 col-md-6 col-sm-12">
								<div>
									<h3 class="text-bold badges-counter">498</h3>
									<h5 class="text-weight-light">Cases Won</h5>
								</div>
							</li>
							<li class="col-lg-3 col-md-6 col-sm-12">
								<div>
									<h3 class="text-bold badges-counter">420</h3>
									<h5 class="text-weight-light">Happy Clients</h5>
								</div>
							</li>
						</ul>
						<a href="#" class="btn btn-1 btn-big animation text-weight-medium">Book An Appointment</a>
					</div>
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Info Section Ends -->
	<!-- Blog Section Starts -->
		<section class="section-area">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
				<h4 class="main-heading-1 text-center text-spl-color text-weight-normal">Our Blog Posts</h4>
				<p class="text-center">
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or <br>randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
				</p>
			<!-- Blog Post Carousel Starts -->
				<div id="blog-post-carousel" class="owl-carousel">
				<!-- Blog Post #1 Starts -->
					<div class="box-3 animation text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image8.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Technology Solutions
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #1 Ends -->
				<!-- Blog Post #2 Starts -->
					<div class="box-3 text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image9.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Investment Management
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #2 Ends -->
				<!-- Blog Post #3 Starts -->
					<div class="box-3 text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image10.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Retirement Planning
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #3 Ends -->
				<!-- Blog Post #4 Starts -->
					<div class="box-3 animation text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image8.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Technology Solutions
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #4 Ends -->
				<!-- Blog Post #5 Starts -->
					<div class="box-3 text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image9.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Investment Management
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #5 Ends -->
				<!-- Blog Post #6 Starts -->
					<div class="box-3 text-xs-center text-sm-center text-md-left">
						<p>
							<img src="images/image10.jpg" alt="Blog Image" class="img-fluid img-center-xs">
						</p>
						<div class="inner">
							<p class="date-meta text-grey-color text-uppercase">
								<span class="badge badge-secondary">
									<i class="fa fa-calendar"></i>&nbsp; 22 June 2016
								</span>&nbsp;
								<span class="badge badge-primary">
									<i class="fa fa-clock-o"></i>&nbsp; 10:00 PM
								</span>
							</p>
							<h6 class="sub-heading-1 tiny text-weight-medium text-xs-center text-sm-center text-md-left">
								Retirement Planning
							</h6>
							<p class="text-grey-color">
								There are many variations of passages of Lorem Ipsum available the majorigty have some....
							</p>
							<p class="text-md-right">
								<a href="blog-single.html" class="more-link animation">view more..</a>
							</p>
						</div>
					</div>
				<!-- Blog Post #6 Ends -->
				</div>
			<!-- Blog Post Carousel Starts -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Blog Section Ends -->
	<!-- Testimonials Section Starts -->
		<section class="section-area section-testimonials sub parallax">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Heading Starts -->
					<div class="col-md-6 col-sm-12">
						<h1 class="text-center text-lite-color"><i class="fa fa-comments-o"></i></h1>
						<h3 class="text-weight-light text-lite-color text-center">
							What are our clients <br>talk about us ?
						</h3>
					</div>
				<!-- Heading Ends -->
				<!-- Testimonials Starts -->
					<div class="col-md-6 col-sm-12">
					<!-- Testimonial Carousel Starts -->
						<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
						<!-- Testimonial Box Wrap Starts -->
							<div class="testimonial-box-wrap">
							<!-- Testimonial Box Starts -->
								<div class="testimonial-box">
								<!-- Wrapper For Slides Starts -->
									<div class="carousel-inner text-xs-center text-sm-center text-md-left">
									<!-- Item #1 Starts -->
										<div class="carousel-item active">
											<p class="text-weight-light">
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
											</p>
											<ul class="list-unstyled clearfix">
												<li class="float-md-left">
													<img src="images/thumb-img1.jpg" alt="Image" class="img-fluid img-center-sm img-center-xs circle">
												</li>
												<li class="float-md-left">
													<h6 class="text-spl-color text-weight-medium">Sainath Chillapuram</h6>
													<span class="text-grey-color text-weight-light">KKR Industries</span>
												</li>
											</ul>
										</div>
									<!-- Item #1 Ends -->
									<!-- Item #2 Starts -->
										<div class="carousel-item">
											<p class="text-weight-light">
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
											</p>
											<ul class="list-unstyled clearfix">
												<li class="float-md-left">
													<img src="images/thumb-img1.jpg" alt="Image" class="img-fluid img-center-sm img-center-xs circle">
												</li>
												<li class="float-md-left">
													<h6 class="text-spl-color text-weight-medium">Sainath Chillapuram</h6>
													<span class="text-grey-color text-weight-light">KKR Industries</span>
												</li>
											</ul>
										</div>
									<!-- Item #2 Ends -->
									<!-- Item #3 Starts -->
										<div class="carousel-item">
											<p class="text-weight-light">
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
											</p>
											<ul class="list-unstyled clearfix">
												<li class="float-md-left">
													<img src="images/thumb-img1.jpg" alt="Image" class="img-fluid img-center-sm img-center-xs circle">
												</li>
												<li class="float-md-left">
													<h6 class="text-spl-color text-weight-medium">Sainath Chillapuram</h6>
													<span class="text-grey-color text-weight-light">KKR Industries</span>
												</li>
											</ul>
										</div>
									<!-- Item #3 Ends -->
									</div>
								<!-- Wrapper For Slides Ends -->
								</div>
							<!-- Testimonial Box Ends -->
							</div>
						<!-- Testimonial Box Wrap Ends -->
						<!-- Indicators Starts -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-testimonials" data-slide-to="0" class="active circle"></li>
								<li data-target="#carousel-testimonials" data-slide-to="1" class="circle"></li>
								<li data-target="#carousel-testimonials" data-slide-to="2" class="circle"></li>
							</ol>
						<!-- Indicators Ends -->
						</div>
					<!-- Testimonial Carousel Ends -->
					</div>
				<!-- Testimonials Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Testimonials Section Ends -->
	<!-- Why Work With US Starts -->
		<section class="section-area">
		<!-- Nested Container Starts -->
			<div class="container">
				<h4 class="main-heading-1 text-spl-color text-xs-center text-sm-center text-md-left">Why Work With Us ?</h4>
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Features Starts -->
					<div class="col-md-6 col-sm-12">
					<!-- List Starts -->
						<ul class="list-unstyled list-style-5 row">
						<!-- List #1 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-cogs float-left"></i> 
								<h6 class="text-weight-medium">Dedicated Team</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #1 Ends -->
						<!-- List #2 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-clipboard float-left"></i> 
								<h6 class="text-weight-medium">ISO 2009 Certified</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #2 Ends -->
						<!-- List #3 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-thumbs-up float-left"></i> 
								<h6 class="text-weight-medium">Clear Inputs for Clients</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #3 Ends -->
						<!-- List #4 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-wechat float-left"></i> 
								<h6 class="text-weight-medium">24x7 Support</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #4 Ends -->
						<!-- List #5 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-users float-left"></i> 
								<h6 class="text-weight-medium">Friendly care</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #5 Ends -->
						<!-- List #6 Starts -->
							<li class="col-md-6 col-sm-12 clearfix">
								<i class="fa fa-paper-plane-o float-left"></i> 
								<h6 class="text-weight-medium">100% Satisfaction</h6>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
								</p>
							</li>
						<!-- List #6 Ends -->
						</ul>
					<!-- List Ends -->
					</div>
				<!-- Features Ends -->
				<!-- Ratings Starts -->
					<div class="col-md-6 col-sm-12">
						<ul class="list-unstyled list-style-6">
							<li>
								<h6 class="text-weight-medium"><i class="fa fa-check"></i> Client Satisfaction</h6>
								<div class="progress flat">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
										<span class="sr-only">90% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<h6 class="text-weight-medium"><i class="fa fa-check"></i> Finance Global Network Advice</h6>
								<div class="progress flat">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<h6 class="text-weight-medium"><i class="fa fa-check"></i> Yearly Invested Profit Reviews</h6>
								<div class="progress flat">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
										<span class="sr-only">70% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<h6 class="text-weight-medium"><i class="fa fa-check"></i> Insurance Advisory</h6>
								<div class="progress flat">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</li>
							<li>
								<h6 class="text-weight-medium"><i class="fa fa-check"></i> New &amp; Returning Customers</h6>
								<div class="progress flat">
									<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
										<span class="sr-only">50% Complete</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				<!-- Ratings Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Why Work With US Ends -->
	<!-- Newsletter Subscription Section Starts -->
	<section class="newsletter-bar text-lite-color text-xs-center text-sm-center text-md-left">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0">
			<!-- Nested Row Starts -->
				<div class="row">
					<div class="col-xl-6 col-md-4 col-sm-12">
						<div class="clearfix">
							<h4 class="float-md-left text-weight-normal"><i class="fa fa-paper-plane"></i> Sign Up</h4>
							<h6 class="float-md-right text-weight-light d-none d-xl-block"><em>Get subscriber only insights &amp; news delivered <br class="d-xs-none d-sm-none d-lg-block">by Fin Advisor</em></h6>
						</div>
					</div>
					<div class="col-xl-6 col-md-8 col-sm-12">
						<form class="row">
							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<badge class="sr-only" for="newsletter-email">Email</badge>
									<input type="email" class="form-control animation-1" id="newsletter-email" placeholder="Your E-mail">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<button type="submit" class="btn btn-1 animation text-uppercase">Submit</button>
							</div>
						</form>
					</div>
				</div>
			<!-- Nested Row Ends -->			
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Newsletter Subscription Section Ends -->
	<!-- Footer Top Section Starts -->
		<section class="footer-top">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-xs-center text-sm-center text-md-left text-lite-color">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Foot Col #1 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="foot-info">
							<p>
								<img src="images/foot-brand.png" alt="Fin Adviser" class="img-fluid img-center-xs">
							</p>
							<br>
							<p class="text-weight-light">
								<em>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</em>
							</p>
							<ul class="list-unstyled list-inline foot-sm-links">
								<li class="list-inline-item text-weight-medium">Follow Us:</li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-facebook animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-twitter animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-instagram animation"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest-p animation"></i></a></li>
							</ul>
						</div>
					</div>
				<!-- Foot Col #1 Ends -->
				<!-- Foot Col #2 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Contact Us</h5>
						<ul class="list-unstyled foot-address-list text-weight-light">
							<li class="clearfix">
								<i class="fa fa-map-marker"></i> 
								<span>
									<strong>#781, Shah Ali Banda, </strong><br>
									Chairminar, Hyd- 505
								</span>
							</li>
							<li class="clearfix">
								<i class="fa fa-phone"></i> 
								<span class="text-weight-bold">(123) 45678910</span>
							</li>
							<li class="clearfix">
								<i class="fa fa-envelope"></i> 
								<span><a href="mailto:support@demosite.com">support@demosite.com</a></span>
							</li>
							<li class="clearfix">
								<i class="fa fa-clock-o"></i> 
								<span>
									Mon - Fri : 10:00 - 18:00 <br>
									Sat - Sun Holiday
								</span>
							</li>
						</ul>
					</div>
				<!-- Foot Col #2 Ends -->
				<!-- Divider Starts -->
					<div class="w-100 d-md-block d-lg-none">
						<p><br><br></p>
					</div>
				<!-- Divider Ends -->
				<!-- Foot Col #3 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Financial Planning</h5>
						<ul class="list-unstyled foot-list-style-1 text-weight-light">
							<li>Investment Management</li>
							<li>Retirement Planning</li>
							<li>Long Term Care</li>
							<li>Estate Planning</li>
							<li>Social Security</li>
						</ul>
					</div>
				<!-- Foot Col #3 Ends -->
				<!-- Foot Col #4 Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<h5>Investment Planning</h5>
						<ul class="list-unstyled foot-list-style-1 text-weight-light">
							<li>Wealth Management</li>
							<li>Retirement &amp; College</li>
							<li>Savings Business Owners</li>
							<li>Insurance &amp; Annuities</li>
							<li>Cash &amp; Credit</li>
							<li>Stocks, Bonds &amp; Mutual Funds</li>
						</ul>
					</div>
				<!-- Foot Col #4 Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</section>
	<!-- Footer Top Section Ends -->
	<!-- Copyright Starts -->
		<footer class="copyright">
		<!-- Nested Container Starts -->
			<div class="container pl-sm-0 pr-sm-0 text-center text-lite-color">
				<em class="text-weight-light">Fin Advisor &copy; 2018. All Rights Reserved. Designed By <a href="#">Sainath Chillapuram</a></em>
			</div>
		<!-- Nested Container Ends -->
		</footer>
	<!-- Copyright Ends	-->
	<!-- Template JS Files -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins/backstretch/jquery.backstretch.min.js"></script>
	<script src="js/plugins/shuffle/jquery.shuffle.modernizr.min.js"></script>
	<script src="js/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/custom.js"></script>	
	</body>
</html>