extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'jarallax/dist/jarallax.min.js', 'shufflejs/dist/shuffle.min.js','imagesloaded/imagesloaded.pkgd.min.js']
  - var parentMenu = 'Demos'
  - var pageTitle = 'Mobile App Showcase'
  - var isNavbarButtonLight = true

//- Navbar
block navbar
  include partials/navbar-floating-light


//- Page Content
block content

  section.position-relative.pt-7.mb-5

    // Background
    .position-absolute.jarallax.bg-gradient.w-100(style='top: 0; left: 0; height: 667px;' data-jarallax data-speed='0.25')
      span.position-absolute.top-0.start-0.w-100.h-100.bg-gradient(style='opacity: .80;')
      .jarallax-img(style='background-image: url(img/sfb/home/svz.jpg);')
      .shape.shape-bottom.shape-curve-side.bg-body
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 250')
          path(fill='currentColor' d='M3000,0v250H0v-51c572.7,34.3,1125.3,34.3,1657.8,0C2190.3,164.8,2637.7,98.4,3000,0z')

    // Tabs
    .container.position-relative.zindex-5.pt-lg-7.mb-5
      .row.pt-4

        .col-lg-3
          ul(role='tablist').nav.nav-tabs.media-tabs.media-tabs-light.justify-content-center.justify-content-lg-start.pb-3.mb-4.pb-lg-0.mb-lg-0
            li.nav-item.me-3.mb-3.w-100
              a(href='#camera' class='nav-link active' data-bs-toggle='tab' role='tab')
                .d-flex.align-items-center
                  .w-100.ps-2.ms-1
                    .d-flex.justify-content-between.align-items-center
                      .fs-sm.pe-1 Sie suchen eine Location?
                      i.ai-chevron-right.lead.ms-2.me-1
            li.nav-item.me-3.mb-3.w-100
              a(href='#sneakers' class='nav-link' data-bs-toggle='tab' role='tab')
                .d-flex.align-items-center
                  .w-100.ps-2.ms-1
                    .d-flex.justify-content-between.align-items-center
                      .fs-sm.pe-1 Amazon Smile
                      i.ai-chevron-right.lead.ms-2.me-1
            li.nav-item.me-3.mb-3.w-100
              a(href='#vr' class='nav-link' data-bs-toggle='tab' role='tab')
                .d-flex.align-items-center
                  .w-100.ps-2.ms-1
                    .d-flex.justify-content-between.align-items-center
                      .fs-sm.pe-1 Regeln für Heimspiele - 2G!
                      i.ai-chevron-right.lead.ms-2.me-1

        .col-lg-9
          .tab-content
            #camera.tab-pane.fade.show.active
              .row.align-items-center
                .col-12.order-lg-1.text-center.text-lg-start
                  .ps-xl-5
                    h2.h1.text-light Wir haben da was!
                    p.fs-lg.text-light.mb-lg-5 Jetzt unser SVZ mieten
                    a(href='#').btn.btn-translucent-light Jetzt informieren
            #sneakers.tab-pane.fade
              .row.align-items-center
                .col-12.order-lg-1.text-center.text-lg-start
                  .ps-xl-5
                    h2.h1.text-light Running Sneakers Sports Collection
                    p.fs-lg.text-light.mb-lg-5 Run like never before. Money back guarantee
                    a(href='#').btn.btn-translucent-light Get now - $99.00
            #vr.tab-pane.fade
              .row.align-items-center
                .col-12.order-lg-1.text-center.text-lg-start
                  .ps-xl-5
                    h2.h1.text-light Wireless Virtual Reality Headset
                    p.fs-lg.text-light.mb-lg-5 Run like never before. Money back guarantee
                    a(href='#').btn.btn-translucent-light Get now - $180.00

  section.bg-faded-primary.position-relative.py-md-6.py-3(style='margin-top: 300px;')
      .container.my-2.my-md-0
        .row.align-items-center
          .col-12.p-5
            h1.text-primary Herzlich willkommen bei den Sportfreunden Bronnen
            hr
            h3.text-primary Wir stehen für Spaß und Freude am Sport und an der Bewegung.
            p.text-primary In unseren Abteilungen Fitness/Gymnastik, Fußball und Aikido trainieren unsere Mitglieder gemeinsam für ihre sportlichen Erfolge und Ziele. Unser Ziel ist es, für Mitglieder jeden Alters die bestmöglichen Voraussetzungen zu schaffen. Dafür setzen sich unsere ehrenamtlichen Helfer mit viel Einsatz, Freude und Herzblut ein. Kameradschaft, Engagement und gegenseitiger Respekt sind unsere Leitsätze.
            p.text-primary Mit unseren tollen Sponsoren und Unterstützern und in Zusammenarbeit mit unserer Heimatgemeinde wollen wir diesen Weg auch in Zukunft zielstrebig weiter gehen. Werden Sie Teil der Sportfreunde Familie und begleiten Sie uns auf diesem Weg.
            p.text-primary Nun wünschen wir Ihnen viel Spaß beim Stöbern auf unserer Homepage.
            h3.text-primary Respekt. Engagement. Kameradschaft.
            hr
        .shape.shape-top.shape-curve.bg-body
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 3000 185.4')
            path(fill='currentColor', d='M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z')

  section.position-relative
    .jarallax.bg-dark.py-7(data-jarallax data-speed="0.3")
      span.position-absolute.top-0.start-0.w-100.h-100.bg-black(style="opacity: .50;")
      .jarallax-img(style="background-image: url(img/sfb/home/aikido-362959_1920.jpg);")
      .container.position-relative.zindex-2.py-5.py-sm-7.text-center
        h2.h1.text-light.mb-0 Unsere Abteilungen
        h3.text-light.mt-1 Aikido - Fußball - Gymnastik

  section.position-relative.pt-6(style='z-index: 2;')
    .container.pb-5
      h2.text-center.pb-1.mb-5 Aktuelles aus unseren Abteilungen

      // Blog grid
      .masonry-grid.overflow-hidden(data-columns='4')

        // Post
        .masonry-grid-item
          article.card.card-hover
            a(href='blog-single-rs.html').card-img-top
              img(src='img/blog/01.jpg' alt='Post thumbnail')
            .card-body
              a(href='#').meta-link.fs-sm.mb-2 Digital design
              h2.h5.nav-heading.mb-4
                a(href='blog-single-rs.html') Designers should always keep their users in mind
        .masonry-grid-item
          article.card.card-hover
            a(href='blog-single-rs.html').card-img-top
              img(src='img/blog/01.jpg' alt='Post thumbnail')
            .card-body
              a(href='#').meta-link.fs-sm.mb-2 Digital design
              h2.h5.nav-heading.mb-4
                a(href='blog-single-rs.html') Designers should always keep their users in mind
        .masonry-grid-item
          article.card.card-hover
            a(href='blog-single-rs.html').card-img-top
              img(src='img/blog/01.jpg' alt='Post thumbnail')
            .card-body
              a(href='#').meta-link.fs-sm.mb-2 Digital design
              h2.h5.nav-heading.mb-4
                a(href='blog-single-rs.html') Designers should always keep their users in mind
        .masonry-grid-item
          article.card.card-hover
            a(href='blog-single-rs.html').card-img-top
              img(src='img/blog/01.jpg' alt='Post thumbnail')
            .card-body
              a(href='#').meta-link.fs-sm.mb-2 Digital design
              h2.h5.nav-heading.mb-4
                a(href='blog-single-rs.html') Designers should always keep their users in mind

  section.pb-7
    .container.pb-5
      h2.text-center.pb-1.mb-5 Kommende Veranstaltungen
  .position-relative.zindex-5.container(style='margin-top: -150px;')
    .tns-carousel-wrapper
      .tns-carousel-inner(data-carousel-options = '{"items": 2, "nav": false, "gutter": 23, "responsive": {"0":{"items":1},"800":{"items":2}}}')
        .pb-2
          .card.h-100.border-0.shadow.mx-1
            span.badge.badge-lg.badge-floating.badge-floating-end.bg-success Gesamtverein
            .card-body.py-2.px-4
              .d-sm-flex.py-sm-4.px-lg-3
                .ps-sm-4.ps-lg-5
                  a(href='#').meta-link.fs-sm.mb-2 01.06.2022
                  h3.h4.nav-heading.mb-4
                    a(href='#') Uhlmann-Halder-Cup
                  p Das Kleinfeldturnier für Betriebsmannschaften
        .pb-2
          .card.h-100.border-0.shadow.mx-1
            span.badge.badge-lg.badge-floating.badge-floating-end.bg-success Gesamtverein
            .card-body.py-2.px-4
              .d-sm-flex.py-sm-4.px-lg-3
                .ps-sm-4.ps-lg-5
                  a(href='#').meta-link.fs-sm.mb-2 01.06.2022
                  h3.h4.nav-heading.mb-4
                    a(href='#') Uhlmann-Halder-Cup
                  p Das Kleinfeldturnier für Betriebsmannschaften
        .pb-2
          .card.h-100.border-0.shadow.mx-1
            span.badge.badge-lg.badge-floating.badge-floating-end.bg-success Gesamtverein
            .card-body.py-2.px-4
              .d-sm-flex.py-sm-4.px-lg-3
                .ps-sm-4.ps-lg-5
                  a(href='#').meta-link.fs-sm.mb-2 01.06.2022
                  h3.h4.nav-heading.mb-4
                    a(href='#') Uhlmann-Halder-Cup
                  p Das Kleinfeldturnier für Betriebsmannschaften

//- Footer
block footer
  include partials/footer-default