.page--chronik {
  ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 0 ! important;
    li {
      p {
        margin-bottom: 0;
      }
    }
  }
  p {
    margin-bottom: 0 ! important;
  }
}