$lightBlue: #0088df;
$brightBlue: #007cb5;
$darkBlue: #004869;
$color-red: #d9534f;

$navBgColor: #f9f9f9;
$navBgColorDarker: #EAEAEA;

// Bootstrap overwrites
$blue: $darkBlue;

$navigationHeightXS: 158px;