div.page--bericht {
  @include media-breakpoint-between(md, lg) {
  }
  h1 {
    text-shadow: none;
    margin-bottom: 1rem;
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
  padding-top: 0;

  div.blog-post-content {

    @include media-breakpoint-up(lg) {
      text-align: justify;
    }

    figure {
      &.pull-right {
        padding-left: 20px;
      }
    }

  }

  div.right-column {
    position: relative;
    padding-top: 1rem;
    a {
      color: inherit;
      font-weight: bold;
    }
    div.images {
      border-bottom: 3px solid #fff;
    }
    ul.list-post-1 {
      li {
      }
    }
  }

}