.page--downloads {
  div.collapse {
    div.card-body {
      ul {
        padding-left: 0;
        li.list-group-item {
          border-radius: 0 ! important;
          &:hover {
            background-color: $navBgColor;
          }
        }
      }
    }
  }
}