#accordion-downloads {
  margin-top: 60px;
}

#accordion-downloads .card {
  margin-top: 20px;
  border: none;
}

#accordion-downloads .card-header {
  padding: 15px 30px;
  position: relative;
  background-color: $navBgColor;
  border: none;
  text-align: left;
}

#accordion-downloads h5.card-title {
  &.card-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    cursor: pointer;
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
}

#accordion-downloads .card-title,
#accordion-downloads .card-title a,
#accordion-downloads .card-title a:hover,
#accordion-downloads .card-title a:focus {
  color: #323946;
  font-weight: normal;
  text-decoration: none;
}

#accordion-downloads .card-title .fa {
  padding: 17px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  background-color: $brightBlue;
}

#accordion-downloads .card-body {
  padding: 30px 20px 20px;
  background-color: #fff;
  border: none;

  li.list-group-item {
    a {
      display: block;
      width: 100%;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 15px 0 15px 0;
  }

}