div.fupa_widget {
  font: 16px/24px 'Saira Semi Condensed', sans-serif;
  overflow: hidden;
  div.fupa_widget_navi {
    background-color: $darkBlue;
    color: #fff;
    padding: 0;
    text-align: center;
    a {
      margin: 10px;
      color: inherit;
      &:hover {
      }
    }
  }
  div#teamdiv {
    table.content_table_std {
      td {
        a.spieler_linkurl {
          font-size: 1rem;
        }
      }
      tr th {
        background-color: $darkBlue;
        color: #fff;
      }
    }
    table.content_table_std:not(.liga_tabelle) tr {
      &:nth-child(odd) {
        background-color: #f8f8f8;
        color: #000;
        td {
          color: inherit;
        }
      }
    }
  }
}