.bio-box-1 {
  margin-top: 15px;
  img {
    opacity: 0.9;
  }
  &:hover {
    img {
      opacity: 1;
      border-radius: 10px;
    }
    .bio-data {
      h5 {
        letter-spacing: 1.5px;
      }
    }
  }
}

.bio-box-1 h5 {
  margin-top: 20px;
}

.bio-box-1 p.designation {
  margin-bottom: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 2px solid $brightBlue;
}

.bio-box-1 p.designation + p {
  margin-bottom: 15px;
}

.bio-box-1 a.bio-more-link {
  color: $brightBlue;
}

.bio-box-1 a.bio-more-link:hover,
.bio-box-1 a.bio-more-link:focus {
  color: $darkBlue;
  text-decoration: none;
}

.bio-box-1 a.bio-more-link::after {
  content: "\f101";
  margin-left: 10px;
}

.bio-box-1 .bio-sm-links {
  margin-bottom: 0;
}

.bio-box-1 .bio-sm-links li {
}

.bio-box-1 .bio-sm-links li a .fa {
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  color: #555;
  background-color: #f9f9f9;
  border: 1px solid #555;
}

.bio-box-1 .bio-sm-links li a:hover .fa,
.bio-box-1 .bio-sm-links li a:focus .fa {
  color: $brightBlue;
  border-color: $brightBlue;
}

.bio-box-1.two-col {
  margin-bottom: 60px;
}

.bio-box-1.two-col img.img-responsive {
  margin-top: 5px;
}

.bio-box-1.two-col h5 {
  margin-top: 0;
  margin-bottom: 7px;
}