// Footer
footer.footer.bg-dark.pt-5.pt-md-6
  .container.pt-3.pt-md-0
    .row.pb-3
      .col-md-4.mt-n2.pb-3.pb-md-0.mb-4
        p.fs-sm.text-light.opacity-60.pb-2.pb-sm-3 Die Sportfreunde Bronnen sind ein über 600 Mitglieder fassender Verein bei Laupheim in Oberschwaben. Mit unseren Abteilungen Fitness/Gymnastik, Fußball und Aikido vermitteln wir Spaß und Freude am Sport und an der Bewegung
        a(href='#').btn-social.bs-outline.bs-facebook.bs-light.bs-lg.me-2.mb-2
          i.ai-facebook
        a(href='#').btn-social.bs-outline.bs-instagram.bs-light.bs-lg.me-2.mb-2
          i.ai-instagram
        a(href='#').btn-social.bs-outline.bs-github.bs-light.bs-lg.me-2.mb-2
          i.ai-github
      .col-md-2.col-sm-4.ms-auto.pb-1.mb-4
        .widget.widget-light
          h4.widget-title Kontakt
          ul
            li: a(href='#').widget-link About
            li: a(href='#').widget-link Careers
            li: a(href='#').widget-link Press
      .col-lg-2.col-md-3.col-sm-4.pb-1.mb-4
        .widget.widget-light
          h4.widget-title Auf die Schnelle
          ul
            li: a(href='#').widget-link For artists
            li: a(href='#').widget-link Developers
            li: a(href='#').widget-link Brands
            li: a(href='#').widget-link Investors
      .col-lg-2.col-md-3.col-sm-4.mb-4
        .widget.widget-light
          h4.widget-title Freunde & Partner
          ul
            li: a(href='#').widget-link Latest news
            li: a(href='#').widget-link Updates
            li: a(href='#').widget-link Campaigns
    hr.my-0.border-light
    .row.align-items-center.mt-3.py-4
      .col-12.mb-3
        p.fs-sm.mb-0
          span.text-light.opacity-50.me-1 © 2021 Sportfreunde Bronnen e.V.

